<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="shortcut icon" href="{{asset "favicon.ico"}}"> -->

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link href="https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Karla:400,700" rel="stylesheet">
    <link href="//cloud.typenetwork.com/projects/515/fontface.css/" rel="stylesheet" type="text/css">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    
    <div class="grid-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

    </div><!-- .grid-wrapper -->
    <div class="footer-wrapper">
      <footer class="footer clearfix">
        <hr>
        <div class="column three-wide">
          <p><strong>About</strong></p>
          <p>
            KOW FM is a blog, a podcast, and much more about Art, Design, &amp; Code. Written and Recorded by Karl Oscar Weber in Salt Lake City Utah. Follow <a href="https://twitter.com/kowfm" target="_blank">@kowfm</a> on Twitter.<br><br>
            
            Find me on <a href="https://twitter.com/karloscarweber" target="_blank">Twitter</a>, and <a href="https://github.com/karloscarweber">Github</a>. I'm a <a href="/freelance">Freelancer</a> from Salt Lake City Utah. Find out more <a href="{{@blog.url}}/about">About Me</a>. I answer email at <a href="mailto:me@kow.fm">me@kow.fm</a>.<br><br>
            
            All Content &copy; <a href="{{@blog.url}}">Karl Oscar Weber</a> 2012-{{date format="YYYY"}} except where stated otherwise. Proudly published with <a href="">Ghost</a>. Broadcast on <a href="https://tryca.st/" target="_blank">Cast</a> and <a href="http://bumpers.fm/pulse" target="_blank">Bumpers.fm</a> published with <a href="">Ghost</a>.
          </p>
        </div>
        
        <div class="column">
          <p><strong>Articles</strong></p>
          <ul>
            <!-- <li><a href="/tag/swift/">Swift</a></li> -->
            <li style="opacity:0.5;"><a>Coming Soon</a></li>
          </ul>
        </div>
        
        <div class="column">
          <p><strong>Projects</strong></p>
          <ul>
            <li><a href="https://cheddarapp.com" target="_blank">Cheddar</a></li>
            <li><a href="/tag/the-pulse/">The Pulse</a></li>
          </ul>
        </div>
      
        <div class="column">
          <p><strong>Pages</strong></p>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/freelance">Freelance</a></li>
            <!-- I've got a lot of stuff in the pipes coming soon. -->
            <!-- <li><a>Portfolio</a></li> -->
            <!-- <li><a>Museum of Swift</a></li> -->
            <!-- <li><a>Favorites</a></li> -->
            <!-- <li><a>Friends</a></li> -->
            <!-- <li><a>Store</a></li> -->
            <!-- <li><a>Schedule</a></li> -->
          </ul>
        </div>
        
        <hr>
        
        <p>
          Once a month I write a newsletter. Subscribe to hear about my availability, new Interviews, Product announcements, and great stuff about Art, Design, and Code.
        </p>
        
        <!-- Begin MailChimp Signup Form -->
        <form class="newsletterform" action="//prologue.us7.list-manage.com/subscribe/post?u=566b6a939ab109f0181960a6e&amp;id=dc70d3d68f" method="post" name="mc-embedded-subscribe-form"  target="_blank">
        <input type="email" value="" placeholder="Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_566b6a939ab109f0181960a6e_dc70d3d68f" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" ></div>
        </form>
        <!--End mc_embed_signup-->
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </footer>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
